div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('../../assets/img/architect-at-the-construction.jpg');
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/architects-and-worker.jpg');
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/young-college-students.jpg');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

.plat {
  border-radius: 0px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #9B235D;
  border-color: #9B235D;
}

.hero-button {
  background-color: #9B235D!important;
  border-color: #9B235D!important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

span {
  font-style: inherit;
  font-weight: inherit;
}

#locationDiv {
}

#hr1 {
  width: 100%;
}

@media (max-width: 768px) {
  #catDiv {
    width: 85px;
  }
}

#catDiv {
  width: 85px;
}

@media (max-width: 992px) {
  #catColumn {
    display: none;
  }
}

#catColumn {
  width: 250px;
  max-width: 250px;
}

#catDiv {
  width: 250px;
  background: #ffffff;
  padding: 10px;
}

#catPara {
  margin: 0;
  margin-top: 20px;
}

#formCheck-3 {
}

.catPara {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  font-family: Alata, sans-serif;
  font-weight: 500;
}

.catHr {
  margin-top: 0;
}

#categoryButton {
  background: rgb(255,255,255);
  color: #434343;
  border-style: solid;
  border-color: #9B235D;
  max-width: 200px;
  width: 180px;
  margin-left: 10px;
}

@media (min-width: 992px) {
  #categoryButton {
    background: rgb(255,255,255);
    color: #434343;
    border-style: solid;
    border-color: #9B235D;
    max-width: 200px;
    width: 180px;
    margin-left: 10px;
    display: none;
  }
}

#categoryIcon {
}

#catPathDiv {
  max-width: 1920px;
  width: 100%;
  min-width: 20%;
}

#catPathParaDiv {
  max-width: 1000px;
  width: 100%;
}

#catPathPara {
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: rgb(136,136,136);
}

#sortDiv {
  max-width: 1000px;
  width: 100%;
}

#sortButton {
  height: 25px;
  margin-left: 5px;
  background: rgb(155,35,93);
  padding-top: 0;
  padding-bottom: 3px;
  border-style: none;
}

#proCol {
}

#proDiv {
  max-width: 1300px;
  width: 100%;
  min-width: 320px;
}

#hr2 {
  margin-top: 0;
  width: 100%;
}

#proRow {
}

#welcomeHr {
  margin: 0;
}

